<section class="rankings__main">

    <h1 class="title">{{region}} Rankings</h1>
  
    <table>
      <thead>
        <tr class="table-head-row">
          <td>Rank</td>
          <td>Name</td>
          <td>Characters</td>
          <td>Wins</td>
          <td>Losses</td>
          <td>Win Percent</td>
          <td>Ratings</td>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
          <tr>
            <td>{{add @index 1}}</td>
            <td><a href="/players/{{this.challongeUsername}}/">{{this.challongeUsername}}</a></td>
            <td>TBD</td>
            <td>{{this.matchWinsCount}}</td>
            <td>{{this.matchLossesCount}}</td>
            <td>{{divide (round (multiply 10 this.winPercentage)) 10 }}%</td>
            <td>{{round this.conservativeRating}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</section>