<section class="rankings__main">

    <h1 class="title">{{region}} Rankings</h1>
  
    <table>
      <thead>
        <tr class="table-head-row">
          <td>Rank</td>
          <td>Name</td>
          {{#is region "national"}}
            <td>Region</td>
          {{/is}}
          <td>Rivals</td>
          <td>Wins</td>
          <td>Losses</td>
          <td>Win Percent</td>
          <td>Rating</td>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
          <tr>
            <td class="rank">{{add @index 1}}</td>
            <td class="player"><a href="/players/{{this.challongeUsername}}/">{{this.alias}}</a>
            </td>

            {{#is ../region "national"}}
              {{#is this.region "national"}}
                <td class="region">Unknown</td>
              {{else}}
                <td class="region">{{capitalize this.region}}</td>
              {{/is}}
            {{/is}}
            <td>
              {{#inArray this.mains "Zetterburn"}}
                <img class="rival-icon" src="/images/icon_zetterburn.png">
              {{/inArray}}
              {{#inArray this.mains "Forsburn"}}
                <img class="rival-icon" src="/images/icon_forsburn.png">
              {{/inArray}}
              {{#inArray this.mains "Maypul"}}
                <img class="rival-icon" src="/images/icon_maypul.png">
              {{/inArray}}
              {{#inArray this.mains "Kragg"}}
                <img class="rival-icon" src="/images/icon_kragg.png">
              {{/inArray}}
              {{#inArray this.mains "Kraig"}}
                <img class="rival-icon" src="/images/icon_kraig.png">
              {{/inArray}}
              {{#inArray this.mains "Wrastor"}}
                <img class="rival-icon" src="/images/icon_wrastor.png">
              {{/inArray}}
              {{#inArray this.mains "Absa"}}
                <img class="rival-icon" src="/images/icon_absa.png">
              {{/inArray}}
              {{#inArray this.mains "Orcane"}}
                <img class="rival-icon" src="/images/icon_orcane.png">
              {{/inArray}}
              {{#inArray this.mains "Etalus"}}
                <img class="rival-icon" src="/images/icon_etalus.png">
              {{/inArray}}
            </td>
            <td class="wins">{{this.matchWinsCount}}</td>
            <td class="losses">{{this.matchLossesCount}}</td>
            <td class="percent">{{divide (round (multiply 10 this.winPercentage)) 10 }}%</td>
            <td class="ratings">{{round this.conservativeRating}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</section>