<section class="rankings__main">

    <h1 class="title">{{region}} Rankings</h1>
  
    <table>
      <thead>
        <tr class="table-head-row">
          <td>Rank</td>
          <td>Name</td>
          {{#is region "national"}}
            <td>Region</td>
          {{/is}}
          <td>Rivals</td>
          <td>Wins</td>
          <td>Losses</td>
          <td>Win Percent</td>
          <td>Rating</td>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
          <tr>
            <td>{{add @index 1}}</td>
            <td><a href="/players/{{this.challongeUsername}}/">{{this.challongeUsername}}</a></td>
            {{#is ../region "national"}}
              {{#is this.region "national"}}
                <td>Unknown</td>
              {{else}}
                <td>{{capitalize this.region}}</td>
              {{/is}}
            {{/is}}
            <td>TBD</td>
            <td>{{this.matchWinsCount}}</td>
            <td>{{this.matchLossesCount}}</td>
            <td>{{divide (round (multiply 10 this.winPercentage)) 10 }}%</td>
            <td>{{round this.conservativeRating}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</section>